COMPOSE_PROJECT_NAME=ecomm-rec

CONFLUENT_VERSION=7.9.2
SPARK_VERSION=3.5.7
REDIS_VERSION=7.4-alpine

KAFKA_HOST_PORT=9092
KAFKA_NUM_PARTITIONS=3
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

SCHEMA_REGISTRY_HOST_PORT=8081

SPARK_MASTER_PORT=7077
SPARK_MASTER_UI_PORT=8080
SPARK_WORKER_UI_PORT=8082
SPARK_WORKER_CORES=4
SPARK_WORKER_MEMORY=2g

REDIS_HOST_PORT=6379

KAFKA_BOOTSTRAP_EXTERNAL=localhost:9092
KAFKA_BOOTSTRAP_INTERNAL=kafka:29092
SCHEMA_REGISTRY_URL=http://localhost:8081
REDIS_URL=redis://localhost:6379/0

DELTA_ROOT=./data/delta
CHECKPOINT_ROOT=./data/checkpoints
DATASET_ROOT=./data/raw
